.main {
    grid-column: 2/3;
    background-color: #E2E8F0;
    display: flex;
}

.heading {
    margin: 2rem 1rem 1rem;
    grid-row: 1/2;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    gap: 25px;
    row-gap: 30px;
    margin: auto 1rem;
}

.single-project {
    display: flex;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.orange-line {
    border-radius: 10px 0 0 10px;
    width: 20px;
    background-color: #F0B429;
}

.single-project-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.single-project-content .title {
    margin-top: .5rem;
}

.single-project-content p,
.single-announcement p {
    font-size: 14px;
    margin: 1rem auto;
    color: #93979c;
    line-height: 1.6em;
}

.single-project-icons {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.single-project-icons i {
    margin: 0 .2rem;
    font-size: 18px;
}

.announcements-heading {
    grid-row: 1/2;
    margin: 2rem 0 1rem;
}

.announcements {
    background-color: #FFF;
    border-radius: 15px;
    margin-right: 1rem;
    grid-column: 2/3;
}

.single-announcement {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-bottom: 1px solid gray;
}

.single-announcement:last-child {
    border: none;
    margin-bottom: 0;
}

.trending {
    grid-column: 2/3;
}

.trending-heading {
    margin-top: 2rem;
}

.trending-container {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.trending-profile {
    display: flex;
    margin: 1rem;
}

.trending-profile-image img {
    width: 50px;
    height: 50px;
}

.trending-profile-name {
    margin: auto 1rem;
}

.nickname {
    font-weight: 600;
}

.description {
    color: #93979c;
    margin-top: .2rem;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}